* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.header {
    width: 100%;
    height: 15%;
    background-color: midnightblue;
    top: 0;
    position: fixed;
    flex-wrap: wrap;
    text-align: center;
    z-index: 100;


}

#head {
    color: white;
    text-decoration: none;
    margin: 15px;
    text-align: center;
}

.nav {
    margin-top: 0 auto;
    margin-right: 15px;
}

.nav-item {
    margin-top: 0;
    margin-right: 15px;
}

@media (min-width: 576px) {
    flex-direction: row;
}

input {

    width: 50%;

    height: 40px;

    border-radius: 50px;

    border-color: white;

    outline: 0;

    outline-offset: 0;

    margin: 20px;
}

.container-seredina {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 10;
}

#home-video{
    width: 100%;
    height: 50%;
    background-size: cover;
}

#home-video #home-hero video {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}

video{
    display: inline-block;
    vertical-align: baseline;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.item-img {
    background-image: url(0104a1caa3fa30cf7f5db671245fab85.gif);
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 20px;
    filter: brightness(100%);
    border box-shadow: 0 0 5px grey,
        0 0 5px grey;
    margin: auto;
}

.item-img:hover {
    transition: 1.4s;
    filter: brightness(0.6);
    box-shadow: 0 0 5px grey,
        0 0 0px grey,
        0 0 5px grey,
        0 0 25px grey,
        0 0 50px grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.item-choise {
    width: 100%;
    padding: 0;
    height: 400px;
    position: relative;
}

.item-choise-img-b{
    background-image: url(Без\ названия.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    filter: blur(4px);
}

.item-choise-img-b:hover {
    transition: 1.4s;
    filter: brightness(100%) blur(4px);   
}

.item-choise-href{

    position: absolute;
    columns: 2 ;
    margin: auto -350px;
}

ul{
    border-radius: 20px;
    /* margin-top: 50px; */
    margin: auto;
    text-decoration: none;
}

li {
    list-style-type: none;
    color: crimson;
}



#item-choise_p1 {
    text-align: center;

    width: 30%;

    height: 100%;

    color: rgb(255, 255, 255);

    text-decoration: none;

    margin: auto;

}

#item-choise_p1:hover {

    transition: 1.4s;

    color: white;

    filter: brightness(150%);
}

#item-choise_p2 {

    text-align: center;

    margin: auto;

    width: 30%;

    height: 100%;

    color: rgb(255, 255, 255);

    text-decoration: none;


}

#item-choise_p2:hover {

    transition: 1.4s;

    color: white;

}

/*  закончили..*/

.item-some_information {
    width: 450px;
    height: 250px;
    background-color: rgb(216, 216, 216);
    margin: auto;
    padding: 0;
}

.item-some_information-photo {
    background-image: url(Без\ названия\ \(10\).jpg);
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px 20px 20px 20px;
    background-size: cover;
    padding: 0;

}

.item-some_information-text {
    width: 170px;
    margin: 20px 20px 20px 20px;
    height: 170px;
    float: right;
    font-size: 15px;
    margin-right: 15px;
    margin: 0;
    padding: 0;
    text-align: justify;


}

.item-news-events {
    width: 100%;
    height: 350px;
    margin: auto;

    background-color: black;
    color: aliceblue;
}

#p1 {
    float: left;
    column-count: 3;
    text-align-last: left;
}

#p2 {
    float: right;
    border: 10px;
    column-count: 4;
    text-align: right;
}

.container-two {
    overflow-x: scroll;
    margin: 0;
    display: flex;
    justify-content: center;


}

.item-inst-img {

    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;

    width: 100%;
    height: 250px;
    margin-left: 50px;
    margin: auto;
    border: 1px solid #C1C1C1;
    float: right;

    justify-content: flex-start;

}

.item-inst {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    overflow-x: auto;
}

.item-inst-img {
    display: flex
}

.item-inst {
    background-color: #e74c3c;
    min-width: 200px;
    margin: 5px;
    background-color: #e74c3c;
    min-width: 200px;
    margin: 5px;
    
}

.item-inst-img::-webkit-scrollbar {
    display: none;
}

.img1 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;
    background-image: url(Без\ названия\ \(10\).jpg);
}

.img2 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;
    background-image: url(Без\ названия\ \(10\).jpg);
}

.img4 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;

    background-image: url(Без\ названия\ \(10\).jpg);
}
.img5 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;

    background-image: url(Без\ названия\ \(10\).jpg);
}
.img6 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;

    background-image: url(Без\ названия\ \(10\).jpg);
}
.img7 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;

    background-image: url(Без\ названия\ \(10\).jpg);
}
.img8 {
    justify-content: flex-start;
    margin: 25px;
    background-size: cover;
    width: 200px;
    height: 200px;

    background-image: url(Без\ названия\ \(10\).jpg);
}





.footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: darkblue;
    bottom: 0;
    position: relative;
}
.item-foot-icon {
    background-image: url(Instagram-Icon-removebg-preview.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    padding: 0;
    margin-left: 1100px;
}
.item-foot-text{
    text-align: center;
    margin-top: -100px;
}